<mat-sidenav-container #matSidenavContainer>
	<mat-sidenav #sidenav mode="side" opened="false" mobileCollapse>
		<navmenu-component></navmenu-component>
	</mat-sidenav>

	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<span>
				<sidenav-toggle [sideNav]="sidenav"></sidenav-toggle>
			</span>
			<span class="fill-row">
				Assigned Pbx Lines
			</span>
			<span>
				<button mat-button
						class="btn-danger"
						(click)="refresh()">
					<mat-icon>refresh</mat-icon>
					Refresh Pbx List
				</button>
			</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<div class="mat-sidenav-content">

		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div *ngIf="loading">
						<div class="circle">
							<div class="loader">
								<div class="loader">
									<div class="loader">
										<div class="loader">
										</div>
									</div>
								</div>
							</div>
							<p class="text-center">Please Wait</p>
						</div>
					</div>

					<div *ngIf="companyProfile">

						<div class="card border border-primary mb-3">
							<div class="card-body">
								<img class="img-circle thumbnail-md" src="{{employerImgSrc}}" />
								<h3 class="card-title">
									Company: {{employerName}}
								</h3>
								<h5 class="card-subtitle">
									<span class="link" [routerLink]="['/company-profile', companyProfileId]">View Employer Profile</span>
								</h5>
							</div>
						</div>
					</div>

					<div *ngIf="listItems && !loading">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" *ngFor="let item of listItems">
								<div class="media">

									<img class="mr-3 img-circle thumbnail-md" *ngIf="item.imgSrc" src="{{item.imgSrc}}" />
									<h3 class="mt-0" *ngIf="item.title">
										{{item.title}}
									</h3>

									<button class="btn btn-primary" (click)="gotoPbxline(item.id, $event)">
										<i class="fa fa-phone"></i>
										Enter
									</button>
								</div>
							</li>
						</ul>
					</div>
					<div class="jumbotron-fluid" *ngIf="!listItems && !loading">
						<p>
							You are not assigned to any Pbx lines for this company. When Pbx lines are assigned to you, they will appear here.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-sidenav-container>