$blue: #155ba1;
$darkBlue: #155ba1;
$lightBlue: #7ecefd;
$veryLightBlue: #e3ebef;
$offBlue: #4e718f;
$white: #ffffff;
$grey: #6b6b6b;
$red: #ff0000;
$yellow: #ffc300;
$black: #000;
$impact: Impact, Charcoal, sans-serif;
$orange: #f44336;
$lightGrey: #e5e9ea;
$radiusSm: 3px;
$radiusMd: 5px;
$radiusLg: 8px;

//$primary: darken(#428bca, 6.5%) !default; // #337ab7
$primary: #155ba1;
$success: #5cb85c !default;
$info: #5bc0de !default;
$warning: #f0ad4e !default;
$danger: #ff0000 !default;
$white: #fff;

$family-heading: 'Roboto', sans-serif;

//$fa-font-path: '../app/../../node_modules/font-awesome/fonts';