<div class="modal is-active">
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Call Failure</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      Calling failed, Please try again
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="close()">Call again</button>
      <button class="button" (click)="close()">Cancel</button>
    </footer>
  </div>
</div>