<mat-card class="mat-elevation-z0 incoming-call-card">
    <mat-card-header>
        <mat-card-title>Incoming Call From</mat-card-title>
    </mat-card-header>
    <img class="animated pulse infinite" mat-card-image [src]="callerProfile.avatarFileName" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h1>{{callerProfile.name}}</h1>
        <h2>{{callerProfile.email}}</h2>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="accept()">Accept</button>
        <button mat-raised-button color="warn" (click)="reject()">Reject</button>
        <button mat-raised-button color="danger" (click)="block()">Block</button>
    </mat-card-actions>
</mat-card>