<mat-sidenav-container #matSidenavContainer>
	<mat-sidenav #sidenav mode="side" opened="false" mobileCollapse>
		<navmenu-component></navmenu-component>
	</mat-sidenav>

	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<span>
				<sidenav-toggle [sideNav]="sidenav"></sidenav-toggle>
			</span>
			<span class="fill-row">
				Meetings
			</span>
		</mat-toolbar-row>
	</mat-toolbar>

	<div class="mat-sidenav-content">

		<div class="container-fluid">
			<div class="row align-content-top justify-content-center">

				<div class="col-4 text-center mb-3" *ngIf="isLoggedIn">
					<p (click)="gotoMeetingsPage()">
						<i class="fa fa-users fa-4x"></i><br />
						Upcoming Meetings
					</p>
				</div>
				<div class="col-4 text-center mb-3" *ngIf="isLoggedIn">
					<p (click)="gotoMeetingInvitesPage()">
						<i class="fa fa-ticket fa-4x"></i><br />
						Invitations
					</p>
				</div>
				<div class="col-4 text-center mb-3" *ngIf="isMember">
					<p (click)="gotoManageMeetingsPage()">
						<i class="fa fa-wrench fa-4x"></i><br />
						Edit Meetings
					</p>
				</div>
				<div class="col-4 text-center mb-3" *ngIf="isMember">
					<p (click)="gotoCreateMeetingPage()">
						<i class="fa fa-edit fa-4x"></i><br />
						Create Meeting
					</p>
				</div>
				<div class="col-4 text-center mb-3" *ngIf="isMember">
					<p (click)="gotoPastMeetingsPage()">
						<i class="fa fa-archive fa-4x"></i><br />
						Past Meetings
					</p>
				</div>
			</div>
		</div>
	</div>
</mat-sidenav-container>
<phone-ringer #phoneRinger></phone-ringer>