<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="containerv" *ngIf="!isLoading">
	<div class="pbx-lines">
		<h1 color="primary" class="line-title">Pbx Lines</h1>
		<div class="flex-container">
			<mat-card class="pbx-line-card" *ngFor="let pbx of pbxLines; let i = index;">
				<a (click)="navigateToPbxLine(pbx.pbxLineId)">
					<div class="image-title">
						<img src="{{pbx.iconFilename | filename: pbx.companyProfileId : '/PbxLines'}}" />
						<h1>
							{{pbx.lineName}}
						</h1>
					</div>
				</a>
				<p>
					{{pbx.description}}
				</p>
			</mat-card>
		</div>
	</div>
</div>